@charset "UTF-8";
/*css 初始化 */
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img { margin:0; padding:0; }
fieldset, img,input,button
{
    border:none;
    padding:0;
    margin:0;
    outline-style:none;
}
ul, ol,li {
    list-style:none;
}
input {
    padding-top:0;
    padding-bottom:0;
    font-family: "SimSun", "宋体", serif;
}
select, input {
    vertical-align:middle;
}
select, input, textarea {
    font-size:12px;
    margin:0;
}
textarea { resize:none; } /*防止拖动*/
img {
    border:0;
    vertical-align:middle;
}  /*  去掉图片低测默认的3像素空白缝隙*/
table
{
    border-collapse:collapse;
}
body {
    font:12px/150% Arial,Verdana,"\5b8b\4f53";
    color:#666;
    background:#fff
}
.clearfix:before,.clearfix:after {
    content:"";
    display:table;
}
.clearfix:after{
    clear:both;
}
.clearfix{
    *zoom:1;/*IE/7/6*/
}
a {
    color:#666;
    text-decoration:none;
}
a:hover{
    color:#C81623;
}
h1,h2,h3,h4,h5,h6 {
    text-decoration:none;
    font-weight:normal;
    font-size:100%;
}
s,i,em{
    font-style:normal;
    text-decoration:none;
}
.col-red{
    color: #C81623!important;
}

/*公共类*/
.w {  /*版心 提取 */
    width: 1210px;margin:0 auto;
}
.fl {
    float:left
}
.fr {
    float:right
}
.al {
    text-align:left
}
.ac {
    text-align:center
}
.ar {
    text-align:right
}
.hide {
    display:none
}

/*头部导航*/
.topNav {
    height: 30px;
    line-height: 30px;
    background-color: #f1f1f1;
}
.topNav .fr ul li{
    /*list-style: none;*/
    float: left;
    margin-right: 5px;

}
.topNav .jd,.topNav .fore {
    padding: 0 20px 0 10px;
    position: relative;
}
.topNav .jd i,.topNav .fore i{
    font: 400 15px/15px "宋体";
    position: absolute;
    top: 13px;
    right: 3px;
    height: 7px;
    overflow: hidden;
    width: 15px;
}

.topNav .jd s,.topNav .fore s {
    position: absolute;
    top: -8px;
    left: 0;
}
/*顶部横幅开始banner*/
.topbanner {
    background-color: #8A25C6;
}
.topbanner .w{
    position: relative;
}
/*叉号*/
.topbanner .deleBtn{
    position: absolute;
    top: 5px;
    right: 0px;
    width: 19px;
    height: 19px;
    background: url("../images/close.png") no-repeat;
}
.topbanner .deleBtn:hover{
    background-position: bottom;
}
/*logo搜索界面开始*/
/*logo*/
.w .jdlogo{
    width: 360px;
    height: 75px;
    background-color: red;
    float: left;
    padding-top: 25px;
    background: url("../images/logo.png") no-repeat 0 25px;
    position: relative;
}
.jdlogo .jd-a {
    text-indent: -999px;
    display: block;
    width: 260px;
    height: 60px;
}
/*logo右边*/
.w .jdlogo .double11{
    position: absolute;
    width: 180px;
    height: 80px;
    top: 10px;
    left: 168px;
    background-color: red;
    background: url("../images/dong.gif") no-repeat;
}
/*中间*/
.w .middle {
    width: 538px;
    height: 75px;
    /*background-color: cyan;*/
    float: left;
}
.middle .search {
    width: 538px;
    height: 35px;
    margin-top: 25px;
    float: left;
}
.search input{
    width: 450px;
    height: 32px;
    border: 2px solid #B61D1D;
    padding-left: 4px;
    color: #666;
    font: 14px/32px "microsoft yahei";
    float: left;
}
.search button{
    width: 80px;
    height: 36px;
    background-color: #B61D1D;
    float: left;
    font: 16px/36px "microsoft yahei";
    color: #fff;
    cursor: pointer;
}
/*logo下的导航栏*/
.middle .searchNav {
    margin-top: 5px;
    float: left;
}
.middle .searchNav li{
    float: left;
    margin-left: 5px;
}

/*购物车*/
.w .buycar {
    width: 96px;
    height: 32px;
    padding-left: 43px;
    float: right;
    border: 1px solid #DFDFDF;
    margin-top: 28px;
    margin-right: 5px;
    line-height: 32px;
    position: relative;
}
.buycar .icon1 {
    position: absolute;
    left: 20px;
    top: 10px;
    width: 16px;
    height: 13px;
    background: url("../images/sprite.png") no-repeat 0px -59px;
}
.buycar .icon2 {
    font: 400 15px/15px simsun;
    position: absolute;
    top: 8px;
    right: 20px;
}
.buycar .icon3 {
    position: absolute;
    right: 40px;
    top:-4px;
    width: 16px;
    height: 14px;
    font-size: 12px;
    background-color: #C81623;
    color: #fff;
    text-align: center;
    line-height: 14px;
    /*设置圆角*/
    border-radius: 7px 7px 7px 0;
}
/*logo搜索界面结束*/
/*标题导航开始*/
/*标题左边*/
.jdNav{
    width: 100%;
    height:44px;
    border-bottom: 2px solid #B1191A;
}
.jdNav li {
    float: left;
}

.jdNav .jdNav-left{
    width: 210px;
    height: 44px;
    float: left;
    background-color: #B1191A;
}
.jdNav .jdNav-left a{
    padding-left: 10px;
    color: #fff;
    font: 400 15px/44px "microsoft yahei";
    line-height: 44px;
}
.jdNav .jdNav-middle {
    /*width: 465px;*/
    /*margin-top: 2px;*/
    /*background-color: green;*/
    height: 44px;
    float: left;
}

.jdNav .jdNav-middle li {
    float: left;
}
.jdNav .jdNav-middle li .jdNav-new{
    background: url("../images/new.jpg") no-repeat top right;
}
.jdNav .jdNav-middle li a{
    display: block;
    color: #333;
    font:400 15px "微软雅黑";
    line-height: 44px;
    padding: 0 20px;
}
.jdNav .jdNav-middle li a:hover{
    color: #B1191A;
}
.jdNav .jdNav-right{
    width: 140px;
    height: 44px;
    float: right;
    background: url("../images/bike.jpg") no-repeat;

}
/*头部结束*/

/*底部开始*/
.jd-footer .service .slogen{
    padding: 20px 0;
    height: 54px;
    background-color: #f5f5f5;
    position: relative;
}
.jd-footer .service .slogen .item{
    width: 302px;
    position: absolute;
    top: 20px;
    left: 50%;
}
.jd-footer .slogenIcon1{

    margin-left: -608px;
}
.jd-footer .slogenIcon2{
    margin-left: -304px;
}
.jd-footer .slogenIcon3{
    margin-left: 2px;
}
.jd-footer .slogenIcon4{
    margin-left: 304px;
}
/*购物指南*/
.shopping {
    margin-top: 10px;
}
.shopping .shopping-left dl{
    width: 198px;
    float: left;
}
.shopping .shopping-left dt,.shopping .shopping-right .title{
    height: 28px;
    font: 16px "微软雅黑";
}
.shopping .shopping-left dd{
    height: 20px;
}

.shopping-right{
    float: right;
    width: 210px;
    height: 165px;
    background: url("../images/china.png") no-repeat left bottom;
}
.shopping-right .title{
    margin-top: 10px;
}
.shopping-right .contant{
    line-height: 18px;
}
.shopping-right .look{
    margin-top: 5px;
    text-align: right;
}
/*关于我们*/
.jd-footer .aboutus {
    border-top: 1px solid #E5E5E5;
    padding: 23px 0 30px 0;
    margin-top: 30px;
    text-align: center;
}
.aboutus .linkus{
    height: 25px;
}
.copyright {
    line-height: 18px;
    margin-bottom: 10px;
}